<div class="display-flex bordeNegro fondo-negro fondo-negro">

  <div class="w10porciento height-50px bordeNegro">
    <img src="../../assets/imagenes/logo.png" alt="logo" href="#">
  </div>

  <div class="w80porciento height-50px bordeNegro">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">

      <!--   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <app-menu-nav></app-menu-nav>
       
        </div>
      </div>
    </nav>
  </div>

  <div class="w10porciento height-50px bordeNegro">
    <div class="search-icon">
      <!--   Icono de búsqueda aquí-->
    </div>
    <div class="menu-icon">
      <!--       Icono de menú desplegable aquí
            Contenido desplegable, como "Sobre nosotros", imágenes de Instagram y enlaces sociales
                    </div> -->
    </div>

  </div>