<!--aquí puedes poner un comentario-->

<div class="display-flex bordeNegro fondo-negro d-flex align-items-center justify-content-center">

  <div class="w10porciento height-100px bordeNegro">
    <div class="logo-margin-top-0">
      <a [routerLink]="['/']">
        <img src="assets/imagenes/logo.png" alt="logo" href="#" height="120">
      </a>
    </div>
  </div>

  <div class="w80porciento height-100px bordeNegro ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
        </div>

        <div class="col-8">
          <nav class="menu">
            <ul>
              <li><a [routerLink]="['/']">Home</a> <img src="../../assets/imagenes/chevron-down.svg" alt="" srcset=""></li>
              <li><a [routerLink]="['/sobre-mi']">Sobre Mí</a>  <img src="../../assets/imagenes/chevron-down.svg" alt="" srcset=""></li>



              <li class="submen-PADRE"><a [routerLink]="['/peliculas']">Películas</a>  <img src="../../assets/imagenes/chevron-down.svg" alt="" srcset="">
              
                <ul class="submenu">
                  <li><a [routerLink]="['/peliculas']">Películas</a></li>
                  <li class="borderTOP"><a [routerLink]="['/peliculas']">Detalle Película</a></li>
                </ul>
              
              
              </li>



              <li><a [routerLink]="['/contacto']">Contacto</a>  <img src="../../assets/imagenes/chevron-down.svg" alt="" srcset=""></li>
            </ul>
          </nav>
        </div>

      </div>
    </div>
  </div>

  <div class="w10porciento height-100px bordeNegro iconos">

            <!-- Columna de iconos -->
            <div class="col-2 display-flex align-items-center justify-content-center">
              <img src="assets/imagenes/icon-search.svg" alt="search" href="#">
              <i class="fas fa-search"></i>
              <img src="assets/imagenes/icon-hamburguer.svg" href="#" alt="+info">
              <i class="fas fa-bars"></i>
            </div>

  </div>
</div>