.w10porciento {
    width: 20%;
    margin-top: 0;
    display: flex;
    /* Agrega display: flex para usar flexbox */
    justify-content: center;
    /* Centra horizontalmente el contenido */
    align-items: center;
    /* Centra verticalmente el contenido */
    height: 100%; 
}

.w80porciento {
    width: 60%;
}

.height-100px {
    height: 120px;
}

.display-flex {
    display: flex;
}

.logo-margin-top-0 {
    margin-top: 0px;
}